<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      Blog
    </title>

    <!-- bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <!-- medium style editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
      type="text/css"
      media="screen"
      charset="utf-8"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="{% url static 'css/blog.css' %}" />
    <!-- fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="loader">
    <!--navbar-->
    <nav class="navbar navbar-default techfont custom-navbar">
      <div class="container">
        <ul>
          <li>
            <a class="navbar-brand bigbrand" href="{% url post_list %}"></a>
          </li>
          <li>
            <a href="{% url 'about' %}">About</a>
          </li>
          <li>
            <a href="https://www.github.com">Github</a>
          </li>
          <li>
            <a href="http://www.linkedin.com">LinkedIn</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'post_new' %}">New Post</a>
          </li>
          <li>
            <a href="{% url 'post_draft_list' %}">Drafts</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Log Out</a>
          </li>
          <li>
            <a>Welcome: {{ user.username }}</a>
          </li>
          {% else %}
          <li>
            <a class="nav navbar-right" href="{% url 'login' %}"
              ><span class="glyphicon glyphicon-user"></span
            ></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!--content block-->
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-posts">
            {% block content %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
